.App1 
{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 400px;
    padding: 2vw 1vw;
    background-color: lightblue;
    border-radius: 0 0 10px 10px;
    /* position:relative; */
}
