* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  min-height: auto;
  display: flex;
  flex-direction: column;
}
.navbar{
  background-color: lightblue !important;
  
} 
footer{
  /* margin-top: auto; */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 50px;
}
.register-page{
    display:flex;
    align-items: center;
    justify-content: center;
    height:90vh;
}
img {
  border-radius: 5%;
  width: 180px;
}
.image{
  width:250px;
}
.layout{
  margin:auto
}
.main{
  display:inline-block;
}

.content_img{
  position:relative
}
button{
  border:none;
  background-color: white;
  border-radius: 5%;
}
.pointer-link {
  cursor: pointer;
}