* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar{
  background-color: lightblue !important;
  
} 
.footer{
  margin-bottom: 0px;
  
}
.register-page{
    display:flex;
    align-items: center;
    justify-content: center;
    height:90vh;
}